<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>Hello</servlet-name><!-- Khai báo tên để map đường dẫn-->
        <servlet-class>com.hongquan.servletprj.HelloServlet</servlet-class>
        <!--thẻ được load đầu tiên khi chạy server        -->
        <load-on-startup>1</load-on-startup>

    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/hello</url-pattern> <!-- đường dẫn trên trình duyệt -->
    </servlet-mapping>
</web-app>